# Clerk Authentication Publishable Key
VITE_CLERK_PUBLISHABLE_KEY=pk_test_...

# Backend API Service URL (For local dev default is http://127.0.0.1:5001, on Vercel set to your Hugging Face Space URL)
VITE_BACKEND_URL=http://127.0.0.1:5001
